<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>ContactPage</title>
    <link th:href="@{/styles/mainPage.css}" rel="stylesheet" />
</head>
<body>
<div class="topnav">
    <a href="?page=home">Home</a>
    <a class="active" href="?page=contact">Contact</a>
    <a href="?page=about">About</a>
    <a style="float:right" id="signIn">Sign in</a>
</div>

<div class="contact">
    <img th:src="@{/images/contact.jpg}"/>

    <br><br>Centrum Rehabilitacji "Nowe Możliwości"
    <br><br>ul. Kwiatowa 10,
    <br>00-000 Miastowo
    <br><br>Telefon: +48 123 456 789
    <br>E-mail: info@nowemozliwosci-rehabilitacja.pl
</div>

<div class="footer">
    <div class="socialMedia">
        <img th:src="@{/images/facebook.png}" class="footerimage"/><a href="https://www.facebook.com/">FACEBOOK</a>
        <img th:src="@{/images/instagram.png}" class="footerimage"/><a href="https://www.instagram.com/">INSTAGRAM</a>
        <img th:src="@{/images/twitter.png}" class="footerimage"/><a href="https://twitter.com/home">TWITTER</a>
        <img th:src="@{/images/telephone-call.png}" class="footerimage"/><a href="tel:+48123-456-789">CALL US!</a>
    </div>
    <div class="copyRight">
        <p>Politechnika Krakowska © 2023</p>
    </div>
</div>
</body>
</html>