<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>App</title>
  <link th:href="@{/styles/adminStyle.css}" rel="stylesheet"/>
  <script type="text/javascript" th:src="@{/js/helpers.js}"></script>
</head>
<body>
<div class="topnav">
  <a th:href="@{/admin/employees}">&#8592; Go back</a>
  <a class="active" style="float:right" th:href="@{/logout}">Log out</a>
</div>
<div class="name">
  <h1 th:text="${user.name} + ' ' +  ${user.surname}"></h1>
</div>
<div class="middle" style="min-height: 10vh">
  <h1>Add new work time</h1>
</div>
<div class="row">
  <form action="/admin/employee/schedule" method="POST" th:object="${newSchedule}">
    <input type="hidden" id="id" name="id" th:value="${user.id}"/>
    <div class="visitForm">
      <div style="width: 15rem" class="form">
        <label for="date">Date</label>
        <input class="input" type="date" id="date" th:field="*{date}"/>
      </div>
      <div style="margin-right: 3rem;" class="form">
        <label for="startTime">Start time</label>
        <input class="input" type="time" id="startTime" th:field="*{startTime}"/>
      </div>
      <div style="margin-right: 3rem;" class="form">
        <label for="endTime">End time</label>
        <input class="input" type="time" id="endTime" th:field="*{endTime}"/>
      </div>
    </div>
    <div class="middle" style="min-height: 10vh">
      <button type="submit" class="buttons">Send</button>
    </div>
  </form>
</div>
<table class="userTable">
  <tr>
    <th>Date</th>
    <th></th>
  </tr>
  <tr th:each="schedule, is: ${schedules}">
    <td th:text="${schedule.date}"></td>
    <td class="buttons">
      <a th:href="@{/admin/visit/change/{id}(id=${schedule.scheduleId})}">Change</a>
      <a th:href="@{/admin/visit/delete/{id}(id=${schedule.scheduleId})}">Delete</a>
    </td>
  </tr>
</table>
</body>
</html>