<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
    <link th:href="@{/styles/mainPage.css}" rel="stylesheet" />
</head>
<body>
<div class="topnav">
    <a href="#home">Home</a>
    <a href="?page=contact">Contact</a>
    <a href="?page=about">About</a>
    <a th:if="${role == 'anonymousUser'}" id="login" class="active" style="float:right" th:href="@{/logIn}" >Log in</a>
    <a th:if="${role == 'anonymousUser'}" style="float:right" th:href="@{/signIn}" id="signIn">Sign in</a>
    <a th:if="${role == 'client'}" style="float:right" th:href="@{/user/profile}">My profile</a>
    <a th:unless="${role == 'anonymousUser'}" id="logout" class="active" style="float:right" th:href="@{/logout}" >Log out</a>
</div>
<div class="middle">
    <h1 class="centerTitle" id="title">Welcome</h1>
    <div class="buttons">
        <a th:unless="${role == 'client'}" href="?page=strona1">strona1</a>
        <a th:unless="${role == 'client'}" href="?page=strona2">strona2</a>
        <a th:if="${role == 'client'}" href="@{/user/visit">Make an appointment</a>
        <a th:if="${role == 'client'}" href="?page=strona2">Check available surgeries</a>
    </div>
    <div class="row">
        <div class="column">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus rhoncus vestibulum. Duis ac urna at lectus congue efficitur. Curabitur sed venenatis mauris, quis lacinia libero. Aenean magna erat, semper in fringilla dictum, egestas et eros. Sed vestibulum ultricies pellentesque. Pellentesque blandit orci lacus, eget viverra magna facilisis quis. Nullam venenatis semper sollicitudin. Sed id lorem eget enim dignissim faucibus. Aenean feugiat ipsum libero, sit amet vehicula dui facilisis vel. Suspendisse porttitor mi nulla, vitae imperdiet nunc accumsan non. Nunc vitae cursus urna. Donec facilisis tristique velit ac bibendum. Nulla maximus egestas dui, ut viverra mauris efficitur non. Nullam eleifend tempor gravida. Praesent maximus molestie dapibus.
            Donec viverra dapibus massa, at tristique lacus rutrum id. Donec ut lacus at velit ullamcorper lacinia nec vitae augue. Sed fringilla sem augue, in luctus nisi pretium a. Maecenas sodales erat eu augue malesuada, vitae aliquet erat tempus. Mauris pharetra neque nunc. Sed maximus sem elit, sit amet pharetra lectus molestie nec. Vestibulum eget elementum diam.
            Praesent mattis at sem ac maximus. Nullam tincidunt arcu a purus cursus, nec finibus leo dictum. Integer pellentesque eros urna, in malesuada dolor dictum vel. Suspendisse nulla tellus, commodo vel vulputate ut, imperdiet non sapien. Donec finibus malesuada.
        </div>
        <div class="column">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus rhoncus vestibulum. Duis ac urna at lectus congue efficitur. Curabitur sed venenatis mauris, quis lacinia libero. Aenean magna erat, semper in fringilla dictum, egestas et eros. Sed vestibulum ultricies pellentesque. Pellentesque blandit orci lacus, eget viverra magna facilisis quis. Nullam venenatis semper sollicitudin. Sed id lorem eget enim dignissim faucibus. Aenean feugiat ipsum libero, sit amet vehicula dui facilisis vel. Suspendisse porttitor mi nulla, vitae imperdiet nunc accumsan non. Nunc vitae cursus urna. Donec facilisis tristique velit ac bibendum. Nulla maximus egestas dui, ut viverra mauris efficitur non. Nullam eleifend tempor gravida. Praesent maximus molestie dapibus.
            Donec viverra dapibus massa, at tristique lacus rutrum id. Donec ut lacus at velit ullamcorper lacinia nec vitae augue. Sed fringilla sem augue, in luctus nisi pretium a. Maecenas sodales erat eu augue malesuada, vitae aliquet erat tempus. Mauris pharetra neque nunc. Sed maximus sem elit, sit amet pharetra lectus molestie nec. Vestibulum eget elementum diam.
            Praesent mattis at sem ac maximus. Nullam tincidunt arcu a purus cursus, nec finibus leo dictum. Integer pellentesque eros urna, in malesuada dolor dictum vel. Suspendisse nulla tellus, commodo vel vulputate ut, imperdiet non sapien. Donec finibus malesuada.
        </div>
    </div>

</div>
<div class="footer">
    <div class="socialMedia">
        tekst
    </div>
    <div class="copyRight">
        <p>Politechnika Krakowska © 2023</p>
    </div>
</div>
</body>
</html>