<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
    <link th:href="@{/styles/mainPage.css}" rel="stylesheet" />
</head>
<body>
<div class="topnav">
    <a href="#home">Home</a>
    <a href="?page=contact">Contact</a>
    <a th:if="${role == 'anonymousUser'}" id="login" class="active" style="float:right" th:href="@{/logIn}" >Log in</a>
    <a th:if="${role == 'anonymousUser'}" style="float:right" th:href="@{/signIn}" id="signIn">Sign in</a>
    <a th:unless="${role == 'anonymousUser'}" id="logout" class="active" style="float:right" th:href="@{/logout}" >Log out</a>
    <a th:if="${role == 'client'}" style="float:right" th:href="@{/user/profile}">My profile</a>
    <a th:if="${role == 'client'}" style="float:right" th:href="@{/user/appointments}">My appointments</a>
</div>
<div class="middle">
    <h1 class="centerTitle" id="title">Welcome</h1>
    <div class="buttons">
        <a th:if="${role == 'client'}" th:href="@{/user/visit}">Make an appointment</a>
        <a th:if="${role == 'client'}" th:href="@{/user/surgeries}">Check available surgeries</a>
    </div>
    <div class="row">
        <div class="column">
            Zapraszamy do naszego nowoczesnego gabinetu rehabilitacyjnego, który istnieje od roku 2005. Nasz wysoko wykwalifikowany zespół specjalistów jest gotowy, aby zapewnić Państwu kompleksową opiekę rehabilitacyjną i pomóc w powrocie do pełnej sprawności.
            <br><br>
            Oferujemy szeroki zakres usług rehabilitacyjnych, które są dostosowane do indywidualnych potrzeb każdego pacjenta. Nasze metody terapeutyczne opierają się na najnowszych osiągnięciach medycyny i wykorzystują nowoczesny sprzęt rehabilitacyjny. Nasz gabinet oferuje fizjoterapię, masaż, kinezyterapię, elektroterapię, laseroterapię oraz wiele innych skutecznych technik rehabilitacyjnych.
            <br><br>
            Jesteśmy przekonani, że każdy pacjent zasługuje na pełne wsparcie i zrozumienie w procesie rehabilitacji. Nasz personel jest nie tylko wykwalifikowany fachowo, ale również przyjazny i empatyczny. Tworzymy przyjazną atmosferę, która sprzyja szybszemu powrotowi do zdrowia.
            <br><br>
            Nie ważne, czy borykasz się z przewlekłym bólem pleców, urazem sportowym, pourazowym uszkodzeniem lub po prostu chcesz poprawić swoją kondycję fizyczną - nasz gabinet rehabilitacyjny jest miejscem, w którym otrzymasz profesjonalną i indywidualną pomoc.
        </div>
        <div class="column">
            Nasz zespół składa się z doświadczonych fizjoterapeutów, którzy stale poszerzają swoją wiedzę i umiejętności poprzez udział w szkoleniach i konferencjach branżowych. Dzięki temu możemy zapewnić naszym pacjentom najwyższy poziom opieki i skuteczne wyniki rehabilitacji.
            <br><br>
            Zapewniamy kompleksową ocenę i diagnozę stanu zdrowia oraz indywidualne plany terapeutyczne, które są dostosowane do unikalnych potrzeb każdego pacjenta. Naszym celem jest nie tylko złagodzenie objawów, ale również zapobieganie nawrotom i maksymalne przywrócenie funkcji ciała.
            <br><br><br>
            Ponadto, nasz gabinet rehabilitacyjny jest wyposażony w nowoczesne urządzenia i sprzęt, który umożliwia skuteczną rehabilitację. Staramy się być na bieżąco z najnowszymi osiągnięciami technologicznymi w dziedzinie rehabilitacji, aby zapewnić naszym pacjentom najlepsze możliwe efekty terapeutyczne.
            <br><br>
            Nie czekaj dłużej, odzyskaj pełną sprawność i dobre samopoczucie dzięki naszemu gabinetowi rehabilitacyjnemu. Skontaktuj się z nami już dziś, aby umówić się na wizytę i rozpocząć swoją drogę do zdrowia i lepszego samopoczucia.
        </div>
    </div>

</div>
<div class="footer">
    <div class="socialMedia">
        <img th:src="@{/images/facebook.png}" class="footerimage"/><a href="https://www.facebook.com/">FACEBOOK</a>
        <img th:src="@{/images/instagram.png}" class="footerimage"/><a href="https://www.instagram.com/">INSTAGRAM</a>
        <img th:src="@{/images/twitter.png}" class="footerimage"/><a href="https://twitter.com/home">TWITTER</a>
        <img th:src="@{/images/telephone-call.png}" class="footerimage"/><a href="tel:+48123-456-789">CALL US!</a>
    </div>
    <div class="copyRight">
        <p>Politechnika Krakowska © 2023</p>
    </div>
</div>
</body>
</html>