<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>ManageUsers</title>
  <link th:href="@{/styles/secretaryStyle.css}" rel="stylesheet"/>
</head>
<body>
<div class="topnav">
  <a th:href="@{/main}">&#8592; Go back</a>
  <a class="active" style="float:right" th:href="@{/logout}">Log out</a>
</div>
<div class="middle">

  <div class="chooseUser">
    <form action="/secretary/visits" method="POST" th:object="${username}">
      <div class="form">
        <label for="user">User</label>
        <input class="input" type="text" id="user" th:field="*{value}"/>
      </div>
      <div class="buttons">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>

  <table class="userTable">
    <tr>
      <th>User</th>
      <th>Doctor</th>
      <th>Date</th>
      <th>Surgery</th>
      <th>Status</th>
      <th></th>
    </tr>
    <tr th:each="visit, is: ${visits}">
      <td th:text="${visit.client}"></td>
      <td th:text="${visit.doctor}"></td>
      <td th:text="${visit.date}"></td>
      <td th:text="${visit.surgery}"></td>
      <td th:text="${visit.status}"></td>
      <td class="buttons">
        <a th:href="@{/secretary/visit/change/{id}(id=${visit.id})}">Change</a>
        <a th:href="@{/secretary/visit/delete/{id}(id=${visit.id})}">Delete</a>
      </td>
    </tr>
  </table>
</div>
</body>
</html>