<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>ManageUsers</title>
  <link th:href="@{/styles/secretaryStyle.css}" rel="stylesheet"/>
  <script type="text/javascript" th:src="@{/js/calendar.js}" defer="defer"></script>
</head>
<body>
<div class="topnav">
  <a th:href="@{/main}">&#8592; Go back</a>
  <a class="active" style="float:right" th:href="@{/logout}">Log out</a>
</div>
<div class="row">
  <div class="userColumn">
    <table>
      <tr>
        <th>Employee</th>
        <th></th>
      </tr>
      <tr th:each="emp, is: ${employees}">
        <td th:text="${emp.name}"></td>
        <td class="buttons">
          <a th:href="@{/secretary/employee/change/{id}(id=${emp.id})}">Change</a>
        </td>
      </tr>
    </table>
  </div>


  <div class="wrapper">
    <header>
      <p class="current-date"></p>
      <div class="icons">
        <span id="prev" class="material-symbols-rounded">&#8249;</span>
        <span id="next" class="material-symbols-rounded">&#8250;</span>
      </div>
    </header>
    <div class="calendar">
      <ul class="weeks">
        <li>Sun</li>
        <li>Mon</li>
        <li>Tue</li>
        <li>Wed</li>
        <li>Thu</li>
        <li>Fri</li>
        <li>Sat</li>
      </ul>
      <ul class="days"></ul>
    </div>
  </div>
</div>
</body>
</html>