<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>MakeVisit</title>
    <link th:href="@{/styles/adminStyle.css}" rel="stylesheet"/>
</head>
<body>
<div class="topnav">
    <a th:href="@{/main}">&#8592; Go back</a>
    <a class="active" style="float:right" th:href="@{/logout}">Log out</a>
</div>

<div>
    <form action="/user/visit" method="POST" th:object="${visit}">
        <div>
            <div style="margin-top: 5rem" class="form">
                <label for="type">Choose visit type</label>
                <select class="selectStyle" id="type" th:value="${visit.visitName}">
                    <option th:each="surg : ${surgeries}"
                            th:value="${surg.name}" th:text="${surg.name}"></option>
                </select>
            </div>
            <div style="margin-top: 5rem" class="form">
                <label for="date">Choose date</label>
                <input id="date" class="input" type="date" name="date" th:value="${visit.date}">
            </div>
        </div>
        <div style="margin-top: 5rem" class="buttons">
            <button type="submit">Search</button>
        </div>
    </form>
</div>
</body>
</html>